---
http_interactions:
  - request:
      method: post
      uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
      body:
        encoding: UTF-8
        string: '{"isArchived":false,"isDraft":true,"fieldData":{"name":"Test 1"}}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <TEST_API_TOKEN>
    response:
      status:
        code: 202
        message: Accepted
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"ff-84nvIv+ehh6GrdjGZ3vsUdnQEnc"
        Retry-After:
          - "60"
        X-Ratelimit-Limit:
          - "120"
        X-Ratelimit-Remaining:
          - "119"
        X-Response-Time:
          - 725.493ms
      body:
        encoding: UTF-8
        string:
          '{"id":"67d99c5a194c7a4bd435cbc5","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2025-03-18T16:16:26.270Z","createdOn":"2025-03-18T16:16:26.270Z","isArchived":false,"isDraft":true,"fieldData":{"name":"Test
          1","slug":"test-1"}}'
    recorded_at: Tue, 18 Mar 2025 16:16:26 GMT
[...]
  - request:
      method: get
      uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=100&name=Test%201&offset=0
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <TEST_API_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"13b-ZJkvP0KXhZfxpezqWleoBW3D8nU"
        Retry-After:
          - "58"
        X-Ratelimit-Limit:
          - "120"
        X-Ratelimit-Remaining:
          - "117"
        X-Response-Time:
          - 133.593ms
      body:
        encoding: UTF-8
        string:
          '{"items":[{"id":"67d99c5a194c7a4bd435cbc5","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2025-03-18T16:16:26.270Z","createdOn":"2025-03-18T16:16:26.270Z","isArchived":false,"isDraft":true,"fieldData":{"name":"Test
          1","slug":"test-1"}}],"pagination":{"limit":100,"offset":0,"total":1}}'
    recorded_at: Tue, 18 Mar 2025 16:16:28 GMT
recorded_with: VCR 6.2.0
